<app-navbar></app-navbar>

<div class="container-fluid ">
  <div class="row">
    <div class="col-12 bg-light bg-gradient">
      <div class="bg-white mx-2 my-4 rounded">
        <div class="container p-3">
          <div class="row">
            <div class="col-12 my-2">
              <h4>Polling Station Statement - Ballot Information</h4>
              <h6>(To be filled in at START of poll)</h6>
            </div>

            <form [formGroup]="statementForm" (submit)="saveDetails()">
              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label"><span class="number">1</span> What is the number of Ballots issued to this
                    polling station?<span style="color: red;">*</span></label>
                  <input type="number" class="form-control" formControlName="numberOfBallotsIssued"
                    [ngClass]="{ 'is-invalid': statementForm.get('numberOfBallotsIssued')?.invalid && statementForm.get('numberOfBallotsIssued')?.touched }">
                  <div
                    *ngIf="statementForm.get('numberOfBallotsIssued')?.invalid && statementForm.get('numberOfBallotsIssued')?.touched"
                    class="text-danger f-13">Enter a valid number</div>
                </div>
              </div>

              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label"><span class="number">2</span> What is the range of serial numbers of the
                    ballot papers issued to the polling station?</label>
                  <input type="text" class="form-control" formControlName="serialNumberOfBallotsIssued">
                </div>
              </div>

              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label"><span class="number">2a</span> Range of 100 booklets</label>
                  <div class="row">
                    <div class="col-5"><input type="text" class="form-control full-width" formControlName="rangeOf100BookletsFrom">
                    </div> -
                    <div class="col-5"><input type="text" class="form-control full-width" formControlName="rangeOf100BookletsTo" (blur)="validateDetails()">
                    </div>
                    <div class="col-1">({{rangeOf100}})</div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label"><span class="number">2b</span> Range of 50 booklets</label>
                  <div class="row">
                    <div class="col-5"><input type="text" class="form-control full-width" formControlName="rangeOf50BookletsFrom">
                    </div> -
                    <div class="col-5"><input type="text" class="form-control full-width" formControlName="rangeOf50BookletsTo" (blur)="validateDetails()">
                    </div>
                    <div class="col-1">({{rangeOf50}})</div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label"><span class="number">2c</span> Range of 25 booklets</label>
                  <div class="row">
                    <div class="col-5"><input type="text" class="form-control full-width" formControlName="rangeOf25BookletsFrom">
                    </div> -
                    <div class="col-5"><input type="text" class="form-control full-width" formControlName="rangeOf25BookletsTo" (blur)="validateDetails()">
                    </div>
                    <div class="col-1">({{rangeOf25}})</div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="mb-3">
                  <label class="form-label"><span class="number">2c</span> Range of 10 booklets</label>
                  <div class="row">
                    <div class="col-5"><input type="text" class="form-control full-width" formControlName="rangeOf10BookletsFrom">
                    </div> -
                    <div class="col-5"><input type="text" class="form-control full-width" formControlName="rangeOf10BookletsTo" (blur)="validateDetails()">
                    </div>
                    <div class="col-1">({{rangeOf10}})</div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="mb-3 float-end">
                  <button type="submit" [disabled]="!statementForm.valid" class="btn btn-primary f-13">Submit</button>
                  <button type="button" class="btn btn-light f-13 ms-2" routerLink="/dashboard">Cancel</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>