label.form-label {
    font-size: 13px;
}
.number {
    background: #00000070;;
    color: #fff;
    padding: 4px 9px;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 38px;
}
.numbers {
    background: #00000070;;
    color: #fff;
    padding: 4px 6px;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 38px;
}
input.form-control {
    width: 100% ;
}
@media (min-width: 768px) {
    input.form-control {
        width: 50%;
    }
  }

  .is-invalid {
    border-color: red;
  }

