<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12 bg-light bg-gradient">
            <div class="bg-white mx-2 my-4 rounded">
                <div class="container p-3">
                    <div class="row">
                        <div class="col-12 my-3">
                            <h4>Polling Station List</h4>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label   "><span class="number">1</span> What is the number of Ballots
                                    issued to this polling station?</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label   "><span class="number">2</span> What is the range of serial
                                    numbers of the ballot papers issued to the polling station?</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label   "><span class="numbers">2a</span> Range of 100 booklets
                                </label>
                                <input type="text" class="form-control" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label   ">⁠<span class="numbers">2b</span> Range of 50
                                    booklets</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label   ">⁠<span class="numbers">2c</span> Range of 25
                                    booklets</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label   "><span class="numbers">2d</span> Range of 10 booklets
                                </label>
                                <input type="text" class="form-control" aria-describedby="emailHelp">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3 float-end">
                                <button class="btn btn-primary f-13 "
                                    routerLink="/pollingstatementdetails">Submit</button>
                                <button class="btn btn-light f-13 ms-2">Cancel</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->