<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12 bg-light bg-gradient">
            <div class="bg-white m-4 rounded">
                <div class="container pt-4 px-4">
                    <div class="row">
                        <form>
                        </form>
                        <div class="col-lg-9 col-sm-12 col-md-9 my-3">
                            <h4>User List</h4>
                        </div>
                        <div class="col-lg-3 col-sm-12 col-md-3 my-3 text-end">
                            <button class="btn btn-primary f-13" (click)="addNewUser()">Add new user</button>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" (input)="filterByName($event)">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Role</label>
                                <select class="form-select" (change)="filterByRole($event)">
                                    <option selected value="">Select Role</option>
                                    <option *ngFor="let role of roleList" value="{{role.key}}">{{role.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Region</label>
                                <select class="form-select" (change)="filterByRegion($event)">
                                    <option selected value="">All Regions</option>
                                    <option *ngFor="let region of regionList" value="{{region._id}}">{{region.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Constituency</label>
                                <select class="form-select" (change)="filterByConstituency($event)">
                                    <option selected value="">Select constituency</option>
                                    <option *ngFor="let con of constituencyList" value="{{con._id}}">{{con.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th style="width: 20%;" scope="col">Name</th>
                                            <th scope="col">Role </th>
                                            <th scope="col">Email </th>
                                            <th style="width: 18%;" scope="col">Last Logged-in </th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="userList && userList.length > 0; else noItemsFound">
                                        <tr *ngFor="let user of userList">
                                            <td>
                                                {{user.userId.substring(0, 4)}} ...
                                                {{user.userId.substring(user.userId.length-4, user.userId.length)}}
                                            </td>
                                            <td>
                                                {{user.firstName}} {{user.lastName}}
                                            </td>
                                            <td>
                                                {{getRoleNameFromRole(user.role)}}
                                            </td>
                                            <td>
                                                {{user.email}}
                                            </td>
                                            <td>
                                                {{user.lastLoggedIn | date: 'dd-MM-yyyy hh:mm a'}}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-warning" *ngIf="user.isActive"
                                                    (click)="deactivateUser(user)"> <i class="fa-solid fa-times me-2"
                                                        width="16px" height="16px"
                                                        alt="Deactivate icon"></i>Deactivate</button>
                                                <button type="button" class="btn btn-primary" *ngIf="!user.isActive && user.lastLoggedIn"
                                                    (click)="activateUser(user)"> <i class="fa-solid fa-check me-2"
                                                        width="16px" height="16px" alt="Activate icon"></i>Activate</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                           
                            <ng-template #noItemsFound>
                                <tbody>
                                    <tr>
                                        <td colspan="6">No users found for the filters applied</td>
                                    </tr>
                                </tbody>
                            </ng-template>

                            <div class="d-flex justify-content-between p-2" *ngIf="userList && userList.length > 0">
                                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize"
                                    (ngModelChange)="getData()">
                                    <option [ngValue]="5">5 items per page</option>
                                    <option [ngValue]="10">10 items per page</option>
                                    <option [ngValue]="25">25 items per page</option>
                                </select>
                                <ngb-pagination [collectionSize]="totalItems || 0" [(page)]="pageNumber"
                                    [pageSize]="pageSize" (pageChange)="getData()">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>