<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12 bg-light bg-gradient">
            <div class="bg-white m-4 rounded">
                <h5 class="pt-4 px-4">{{pageTitle}}</h5>
                <div class="d-flex align-items-center  ">
                    <div class="form-signin w-100 m-auto f-13">
                        <form [formGroup]="userForm" (submit)="createUser()">
                            <div class="mb-3">
                                <label class="form-label">First Name<span style="color: red">*</span></label>
                                <input type="text" class="form-control" formControlName="firstName"
                                    [ngClass]="{ 'is-invalid': userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched }">
                                <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched"
                                    class="text-danger f-13">This field is required.</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Last Name<span style="color: red">*</span></label>
                                <input type="text" class="form-control" formControlName="lastName"
                                    [ngClass]="{ 'is-invalid': userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched }">
                                <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched"
                                    class="text-danger f-13">This field is required.</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email<span style="color: red">*</span></label>
                                <input type="email" class="form-control" formControlName="email"
                                    [ngClass]="{ 'is-invalid': userForm.get('email')?.invalid && userForm.get('email')?.touched }">
                                <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
                                    class="text-danger f-13">Enter a valid email</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Role<span style="color: red">*</span></label>
                                <select class="form-select" formControlName="role"
                                    [ngClass]="{ 'is-invalid': userForm.get('role')?.invalid && userForm.get('role')?.touched }" (change)="togglePasswordShow($event)">
                                    <option selected value="">Select Role</option>
                                    <option *ngFor="let role of roleList" value="{{role.key}}">{{role.value}}
                                    </option>
                                </select>
                                <div *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched"
                                    class="text-danger f-13">This field is required.</div>
                            </div>
                            <div class="mb-3" *ngIf="showPasswordField">
                                <label class="form-label">Password<span style="color: red">*</span></label>
                                <input type="password" class="form-control" formControlName="password">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Constituency</label>
                                <select class="form-select" formControlName="constituency"
                                    (change)="loadStation($event)">
                                    <option selected value="">Select Constituency</option>
                                    <option *ngFor="let con of constituencyList" value="{{con._id}}">{{con.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Station</label>
                                <select class="form-select" formControlName="station">
                                    <option selected value="">Select Station</option>
                                    <option *ngFor="let station of stationList" value="{{station._id}}">{{station.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="mb-3 float-end">
                                <button type="submit" class="btn btn-primary f-13"
                                    [disabled]="!userForm.valid">Submit</button>
                                <button class="btn btn-light f-13 ms-2" (click)="redirectToList()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>