
<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12 bg-light bg-gradient">
            <div class="bg-white m-4 rounded">
                <h5 class="pt-4 px-4">User create</h5>
                <div class="d-flex align-items-center  ">
                    <div class="form-signin w-100 m-auto f-13">
                       <form>
                        <div class="csv text-center border-dotted p-4 rounded">
                            <img src="../../../assets/dashboard/draganddrop.png" height="35px" width="35px" class="mb-2" alt="download image">
                            <h6>Drag and drop your CSV file here or browse your files </h6> 
                        </div>

                        <div class="mt-3 ">
                            <span class="fw-bold">File Name : </span><span> Votelist.csv</span><br>
                            <span class="fw-bold">File Size : </span><span> 10 MB</span><br>
                            <span class="fw-bold">File Type : </span><span> CSV</span><br>
                            <span class="fw-bold">File Type : </span><span> CSV</span><br>
                            <span class="fw-bold">Uploaded on : </span><span> 17-04-2024</span><br>
                            <span class="fw-bold">Total items : </span><span> 544</span>
                            
                            <p><a href="">Download Sample CSV file</a></p>
                        </div>
                       </form>
                    </div>
                </div>

               
            </div>
        </div>
    </div>
</div>