<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12 bg-light bg-gradient">
            <div class="bg-white m-4 rounded">
                <div class="container pt-4 px-4">
                    <div class="row">
                        <div class="col-lg-9 col-sm-12 col-md-9 my-3">
                            <h4>Regions List</h4>
                        </div>
                        <div class="col-lg-3 col-sm-12 col-md-3 my-3 text-end">
                            <button class="btn btn-primary f-13" (click)="addNewRegion()">Add new region</button>
                        </div>
                        <div class="col-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 35%;" scope="col">Name</th>
                                        <th style="width: 35%;" scope="col">Code</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="regionList && regionList.length > 0; else noItemsFound">
                                    <tr *ngFor="let region of regionList">
                                        <td>
                                            {{region.name}}
                                        </td>
                                        <td>
                                            {{region.code}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary"
                                                (click)="editRegion(region)"><i class="fa-solid fa-pen me-2"
                                                    width="16px" height="16px" alt="edit icon"></i>Edit</button>
                                            <button type="button" class="btn btn-danger ms-4"
                                                (click)="deleteRegion(region)"><i class="fa-solid fa-trash me-2"
                                                    width="16px" height="16px" alt="Delete icon"></i>Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-template #noItemsFound>
                                <tbody>
                                    <tr>
                                        <td colspan="3">No regions found for the filters applied</td>
                                    </tr>
                                </tbody>
                            </ng-template>

                            <div class="d-flex justify-content-between p-2" *ngIf="regionList && regionList.length > 0">
                                <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize"
                                    (ngModelChange)="getData()">
                                    <option [ngValue]="5">5 items per page</option>
                                    <option [ngValue]="10">10 items per page</option>
                                    <option [ngValue]="25">25 items per page</option>
                                </select>
                                <ngb-pagination [collectionSize]="totalItems || 0" [(page)]="pageNumber"
                                    [pageSize]="pageSize" (pageChange)="getData()">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>