<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12 bg-light bg-gradient">
            <div class="bg-white m-4 rounded">
                <h5 class="pt-4 px-4">Region Create</h5>
                <div class="d-flex align-items-center  ">
                    <div class="form-signin w-100 m-auto f-13">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Region Name</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Region Code</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp">
                            </div>

                            <div class="mb-3 float-end">
                                <button class="btn btn-primary f-13 ">Submit</button>
                                <button class="btn btn-light f-13 ms-2">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>