<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12 bg-light bg-gradient">
            <div class="bg-white m-4 rounded">
                <h5 class="pt-4 px-4">{{pageTitle}}</h5>
                <div class="d-flex align-items-center  ">
                    <div class="form-signin w-100 m-auto f-13">
                        <form [formGroup]="regionForm" (submit)="createRegion()">
                            <div class="mb-3">
                                <label for="name" class="form-label">Region Name<span
                                        style="color: red">*</span></label>
                                <input type="text" class="form-control" formControlName="name"
                                    [ngClass]="{ 'is-invalid': regionForm.get('name')?.invalid && regionForm.get('name')?.touched }">
                                <div *ngIf="regionForm.get('name')?.invalid && regionForm.get('name')?.touched"
                                    class="text-danger f-13">This field is required.</div>
                            </div>
                            <div class="mb-3">
                                <label for="code" class="form-label">Region Code</label>
                                <input type="text" class="form-control" formControlName="code">
                            </div>

                            <div class="mb-3 float-end">
                                <button type="submit" class="btn btn-primary f-13"
                                    [disabled]="!regionForm.valid">Submit</button>
                                <button class="btn btn-light f-13 ms-2" (click)="redirectToList()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>