<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12 bg-light bg-gradient">
            <div class="bg-white mx-2 my-4 rounded">
                <div class="container p-3">
                    <div class="row">

                        <div class="col-12">
                            <div class="mb-3">
                                <mat-horizontal-stepper #stepper labelPosition="bottom" class="mat-stepes">
                                    <mat-step>
                                        <div class="container-fluid">
                                            <form [formGroup]="statementForm">
                                                <div class="row">
                                                    <div class="col-12 my-5">
                                                        <h4>Polling Station Statement - Information About the Register
                                                            and Lists</h4>
                                                        <h6>(To be filled in at START of poll)</h6>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">1</span>What
                                                                is the number of voters on the polling station
                                                                register?<span style="color: red;">*</span>
                                                            </label>
                                                            <input type="number" class="form-control"
                                                                formControlName="totalNumberOfRegisteredVoters">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">2</span>
                                                                What is the numbers of voters on the Proxy Voters
                                                                List?</label>
                                                            <input type="number" class="form-control"
                                                                formControlName="totalNumberOfProxyVoters">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">3</span>
                                                                What is the number of voters on the Absent Voters
                                                                List?</label>
                                                            <input type="number" class="form-control"
                                                                formControlName="totalNumberOfAbsentVoters">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">4</span>
                                                                What is the number of voters on the Transfer Voters
                                                                List?
                                                            </label>
                                                            <input type="number" class="form-control"
                                                                formControlName="totalNumberOfTransferVoters">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">5</span>
                                                                What is the serial number of the BVD? <span
                                                                    style="color: red;">*</span></label>
                                                            <input type="text" class="form-control"
                                                                formControlName="serialNumberOfBVD">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">6</span>
                                                                What is the serial number of the replaced BVD, if any?
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                formControlName="serialNumberOfReplacedBVD">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">7</span>
                                                                Validating stamp number? <span
                                                                    style="color: red;">*</span></label>
                                                            <input type="text" class="form-control"
                                                                formControlName="stampNumber">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3 float-end">
                                                            <button class="btn btn-secondary f-13"
                                                                (click)="editBallotInformation()">Edit Ballot
                                                                Info</button>
                                                            <button class="btn btn-primary f-13 ms-2" matStepperNext
                                                                (click)="saveDetailsAtPoll()"
                                                                [disabled]="!statementForm.valid">Next</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>

                                    </mat-step>
                                    <mat-step>
                                        <div class="container-fluid">
                                            <form [formGroup]="accountingForm">
                                                <div class="row">
                                                    <div class="col-12 my-5">
                                                        <h4>BALLOT ACCOUNTING</h4>
                                                        <h6>(To be filled in at END of poll, before counting)</h6>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">1</span>
                                                                What is the number of ballots issued to voters on the
                                                                polling station register? </label>
                                                            <input type="number" class="form-control"
                                                                formControlName="numberOfBallotsIssuedToRegisteredVoters"
                                                                (change)="updateTotalCount()">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">2</span>
                                                                What is the numbers of ballots issued to voters on the
                                                                Proxy Voters List?</label>
                                                            <input type="number" class="form-control"
                                                                formControlName="numberOfBallotsIssuedToProxyVoters"
                                                                (change)="updateTotalCount()">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">3</span>
                                                                What is the Total number of <b>SPOILT</b> ballots?
                                                            </label>
                                                            <input type="number" class="form-control"
                                                                formControlName="numberOfSpoiltBallots"
                                                                (change)="updateTotalCount()">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">4</span>
                                                                What is the total number of <b>UNUSED</b> ballots?
                                                            </label>
                                                            <input type="number" class="form-control"
                                                                formControlName="numberOfUnusedBallots"
                                                                (change)="updateTotalCount()">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">5</span>
                                                                Total number of ballots </label>
                                                            <input type="number" class="form-control" readonly
                                                                formControlName="totalNumberOfBallots">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3">
                                                            <label class="form-label"><span class="number">6</span>
                                                                What is the total number of persons Manually Verified to
                                                                vote?
                                                            </label>
                                                            <input type="number" class="form-control"
                                                                formControlName="numberOfPersonsManuallyVerified">
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="mb-3 float-end">
                                                            <button class="btn btn-light f-13 "
                                                                matStepperPrevious>Back</button>
                                                            <button class="btn btn-primary f-13 ms-2"
                                                                matStepperNext>Next</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </mat-step>

                                    <mat-step>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12 my-5">
                                                    <h3>Summary - Statement of Poll</h3>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <span>POLLING STATION NAME</span>: <span
                                                            class="fw-bold">TEST</span>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <span>POLLING STATION CODE</span>: <span
                                                            class="fw-bold">TEST</span>
                                                    </div>

                                                    <div class="col-12 mt-4">
                                                        <h5>A. BALLOT INFORMATION</h5>
                                                    </div>

                                                    <div class="summary-questions">
                                                        <div class="col-12 question">
                                                            <span class="number">1</span> What is the number of Ballots
                                                            issued to this polling station?<span
                                                                class="float-end fw-bold">{{beforePollStatement.numberOfBallotsIssued}}</span>
                                                        </div>
                                                        <div class="col-12 question">
                                                            <span class="number">2</span> What is the range of serial
                                                            numbers of the ballot papers issued to the polling
                                                            station?<span class="float-end fw-bold">{{beforePollStatement.serialNumberOfBallotsIssued}}</span>
                                                        </div>

                                                        <div class="col-12 mt-3">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Range of 100 BOOKLETS</th>
                                                                            <th scope="col">Range of 50 BOOKLETS</th>
                                                                            <th scope="col">Range of 25 BOOKLETS</th>
                                                                            <th scope="col">Range of 10 BOOKLETS</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td scope="row">{{beforePollStatement.serialNumberRange[0]?.range}}</td>
                                                                            <td scope="row">{{beforePollStatement.serialNumberRange[1]?.range}}</td>
                                                                            <td scope="row">{{beforePollStatement.serialNumberRange[2]?.range}}</td>
                                                                            <td scope="row">{{beforePollStatement.serialNumberRange[3]?.range}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-12 mt-4">
                                                        <h5>B. INFORMATION ABOUT THE REGISTER AND OTHER LISTS AT THE
                                                            POLLING STATION</h5>
                                                    </div>

                                                    <div class="summary-questions">
                                                        <div class="col-12 question">
                                                            <span class="number">1</span> What is
                                                            the number of voters on the polling station register?<span
                                                                class="float-end fw-bold">{{statementForm.value.totalNumberOfRegisteredVoters}}</span>
                                                        </div>

                                                        <div class="col-12 question">
                                                            <span class="number">2</span> What
                                                            is the numbers of voters on the Proxy Voters List?<span
                                                                class="float-end fw-bold">{{statementForm.value.totalNumberOfProxyVoters}}</span>
                                                        </div>

                                                        <div class="col-12 question">
                                                            <span class="number">3</span>What
                                                            is the number of voters on the Absent Voters List?<span
                                                                class="float-end fw-bold">{{statementForm.value.totalNumberOfAbsentVoters}}</span>
                                                        </div>

                                                        <div class="col-12 question">
                                                            <span class="number">4</span>What
                                                            is the number of voters on the Transfer Voters List?<span
                                                                class="float-end fw-bold">{{statementForm.value.totalNumberOfTransferVoters}}</span>
                                                        </div>

                                                        <div class="col-12 question">
                                                            <span class="number">5</span>What
                                                            is the serial number of the BVD? <span
                                                                class="fw-bold bold-with-box">{{statementForm.value.serialNumberOfBVD}}</span>
                                                            What
                                                            is the serial number of the replaced BVD, if any? <span
                                                                class="fw-bold">{{statementForm.value.serialNumberOfReplacedBVD}}</span>
                                                            Validating stamp number? <span
                                                                class="fw-bold bold-with-box">{{statementForm.value.stampNumber}}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 mt-4">
                                                        <h5>C. BALLOT ACCOUNTING</h5>
                                                    </div>

                                                    <div class="summary-questions">
                                                        <div class="col-12 question">
                                                            <span class="number">1</span> What
                                                            is the number of ballots issued to voters on the polling
                                                            station register?<span
                                                                class="float-end fw-bold">{{accountingForm.value.numberOfBallotsIssuedToRegisteredVoters}}</span>
                                                        </div>
                                                        <div class="col-12 question">
                                                            <span class="number">2</span> What
                                                            is the numbers of ballots issued to voters on the Proxy
                                                            Voters List?<span
                                                                class="float-end fw-bold">{{accountingForm.value.numberOfBallotsIssuedToProxyVoters}}</span>
                                                        </div>
                                                        <div class="col-12 question">
                                                            <span class="number">3</span> What
                                                            is the Total number of SPOILT ballots?<span
                                                                class="float-end fw-bold">{{accountingForm.value.numberOfSpoiltBallots}}</span>
                                                        </div>
                                                        <div class="col-12 question">
                                                            <span class="number">4</span> What
                                                            is the total number of UNUSED ballots?<span
                                                                class="float-end fw-bold">{{accountingForm.value.numberOfUnusedBallots}}</span>
                                                        </div>
                                                        <div class="col-12 question">
                                                            <span class="number">5</span> Total
                                                            number of ballots<span
                                                                class="float-end fw-bold">{{accountingForm.value.totalNumberOfBallots}}</span>
                                                        </div>
                                                        <div class="col-12 question">
                                                            <span class="number">6</span> What
                                                            is the total number of persons Manually Verified<span
                                                                class="float-end fw-bold">{{accountingForm.value.numberOfPersonsManuallyVerified}}</span>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 mt-4">
                                                        <h5>D. REJECTED BALLOT REPORT</h5>
                                                    </div>

                                                    <div class="summary-questions">
                                                        <div class="col-12 question">
                                                            <span class="number">1</span> What is the TOTAL number of
                                                            Rejected Ballots? <span class="float-end fw-bold">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="mb-3 float-end">
                                                        <button class="btn btn-light " matStepperPrevious>Back</button>
                                                        <button class="btn btn-primary ms-2"
                                                            (click)="saveDetailsAfterPoll()">Submit</button>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </mat-step>
                                </mat-horizontal-stepper>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>