<div class="d-flex align-items-center py-4 bg-body-tertiary h-100vh">
    <div class="form-signin w-100 m-auto text-center">
        <form [formGroup]="myForm" (submit)="submitPage()">
            <img class="mb-4 logo" src="../../../assets/signin/logo.png" width="128" height="115" alt="Electoral commission logo">
            <h1 class="h3 fw-normal">Setup your password</h1>
            <input type="password" formControlName="password" class="form-control" id="password" aria-describedby="password"
                placeholder="New Password">
            <input type="password" formControlName="retypePassword" class="form-control" id="retypePassword"
                aria-describedby="Retype Password" placeholder="Re-enter New Password">
            <button class="btn btn-primary w-100 py-2 mt-3" type="submit" [disabled]="!myForm.valid">Continue</button>
        </form>
    </div>
</div>