<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12 bg-light bg-gradient">
            <div class="bg-white m-4 rounded">
                <h5 class="pt-4 px-4">{{pageTitle}}</h5>
                <div class="d-flex align-items-center  ">
                    <div class="form-signin w-100 m-auto f-13">
                        <form [formGroup]="wardForm" (submit)="createWard()">
                            <div class="mb-3">
                                <label class="form-label">Ward Name<span style="color: red">*</span></label>
                                <input type="text" class="form-control" formControlName="name"
                                    [ngClass]="{ 'is-invalid': wardForm.get('name')?.invalid && wardForm.get('name')?.touched }">
                                <div *ngIf="wardForm.get('name')?.invalid && wardForm.get('name')?.touched"
                                    class="text-danger f-13">This field is required.</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Ward Code</label>
                                <input type="text" class="form-control" formControlName="code">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Ward Location</label>
                                <input type="text" class="form-control" formControlName="location">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Region<span style="color: red">*</span></label>
                                <select class="form-select" formControlName="region"
                                    [ngClass]="{ 'is-invalid': wardForm.get('region')?.invalid && wardForm.get('region')?.touched }"
                                    (change)="loadConstituency($event)">
                                    <option selected value="">Select Region</option>
                                    <option *ngFor="let region of regionList" value="{{region._id}}">{{region.name}}
                                    </option>
                                </select>
                                <div *ngIf="wardForm.get('region')?.invalid && wardForm.get('region')?.touched"
                                    class="text-danger f-13">This field is required.</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Constituency<span style="color: red">*</span></label>
                                <select class="form-select" formControlName="constituency"
                                    [ngClass]="{ 'is-invalid': wardForm.get('constituency')?.invalid && wardForm.get('constituency')?.touched }">
                                    <option selected value="">Select Constituency</option>
                                    <option *ngFor="let con of constituencyList" value="{{con._id}}">{{con.name}}
                                    </option>
                                </select>
                                <div *ngIf="wardForm.get('constituency')?.invalid && wardForm.get('constituency')?.touched"
                                    class="text-danger f-13">This field is required.</div>
                            </div>

                            <div class="mb-3 float-end">
                                <button type="submit" class="btn btn-primary f-13"
                                    [disabled]="!wardForm.valid">Submit</button>
                                <button class="btn btn-light f-13 ms-2" (click)="redirectToList()">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>