<div class="container-fluid py-3 border-bottom bg-body-tertiary">
  <div class="row">
    <div class="col-9">
      <img src="../../../assets/signin/logo.png" alt="" width="40" height="32" alt="election commission logo">
      <span class="f-14 ms-2 fw-bold">Election commision of india</span>
    </div>
    <div class="col-3 text-end">
      <div class="d-flex align-items-center">
        <form class="w-100 me-3" role="search">
         
        </form>
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item f-14" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3 mb-4">
  <div class="row">
    <div class="col text-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Administration
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/pollingstationlist">Polling Station List</a></li>
          <li><a class="dropdown-item" routerLink="/pollingstationcreate">Polling Station Create</a></li>

          <li><a class="dropdown-item" routerLink="/constituencylist">Constituency List</a></li>
          <li><a class="dropdown-item" routerLink="/constituencycreate">Constituency Create</a></li>

          <li><a class="dropdown-item" routerLink="/regionlist">Region List</a></li>
          <li><a class="dropdown-item" routerLink="/regioncreate">Region Create</a></li>


          <li><a class="dropdown-item" routerLink="/userlist">User List</a></li>
          <li><a class="dropdown-item" routerLink="/usercreate">User Create</a></li>

          <li><a class="dropdown-item" routerLink="/dataupload">Upload</a></li>
          <li><a class="dropdown-item" href="#">Election</a></li>
        </ul>
      </div>


    </div>
    <div class="col text-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dashboard
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Dashboard</a></li>
          <li><a class="dropdown-item" href="#">Polling Station</a></li>
          <li><a class="dropdown-item" href="#">Map</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>








