<div class="container-fluid py-3 border-bottom bg-white">
  <div class="row">
    <div class="col-9">
      <img src="../../../assets/signin/logo.png" alt="" width="64" height="57" alt="Electoral commission logo">
      <span class=" f-1 ms-2 fw-bold">Electoral Commission of Ghana</span>
    </div>

    <div class="col-3 text-end">
      <div class="dropdown">
        <img src="../../../assets/dashboard/dummy_profilepic.png" alt="mdo" width="36" height="36"
          class="rounded-circle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

        <ul class="dropdown-menu">
          <li><a class="dropdown-item f-14" href="#" (click)="logoutUser()">Sign out</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg border-bottom bg-white">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <ul class="navbar-nav" *ngIf="roles && roles.length > 0">
            <li class="nav-item dropdown" *ngIf="findAccess('REGION') || findAccess('CONSTITUENCY') || findAccess('WARD') || findAccess('STATION') || findAccess('USER') || findAccess('UPLOAD') || findAccess('ELECTION')">
              <a class="nav-link dropdown-toggle f-13 fw-bold" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Administration
              </a>
              <ul class="dropdown-menu">
                <li *ngIf="findAccess('REGION')"><a class="dropdown-item" routerLink="/admin/region">Regions</a></li>
                <li *ngIf="findAccess('CONSTITUENCY')"><a class="dropdown-item" routerLink="/admin/constituency">Constituencies</a></li>
                <li *ngIf="findAccess('WARD')"><a class="dropdown-item" routerLink="/admin/ward">Wards</a></li>
                <li *ngIf="findAccess('STATION')"><a class="dropdown-item" routerLink="/admin/station">Polling Stations</a></li>
                <li *ngIf="findAccess('USER')"><a class="dropdown-item" routerLink="/admin/user">User List</a></li>
                <li *ngIf="findAccess('UPLOAD')"><a class="dropdown-item" routerLink="/dataupload">Upload</a></li>
                <li *ngIf="findAccess('ELECTION')"><a class="dropdown-item" routerLink="/admin/elections">Election</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown" *ngIf="findAccess('DASHBOARD') || findAccess('STATEMENT')">
              <a class="nav-link dropdown-toggle f-13 fw-bold" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dashboard
              </a>
              <ul class="dropdown-menu">
                <li *ngIf="findAccess('DASHBOARD')"><a class="dropdown-item" href="#">Dashboard</a></li>
                <li *ngIf="findAccess('STATEMENT')"><a class="dropdown-item" routerLink="/statement">Statement of Poll</a></li>
                <li *ngIf="findAccess('RESULT')"><a class="dropdown-item" routerLink="/result">Result</a></li>
                <li *ngIf="findAccess('MAP')"><a class="dropdown-item" href="#">Map</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>