<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12 bg-light bg-gradient">
            <div class="bg-white m-4 rounded md-80">
                <div class="container py-4 px-4">
                    <div class="row">
                        <div class="col-lg-9 col-sm-12 col-md-9 my-3">
                            <h4>Elections List</h4>
                        </div>
                        <div class="col-lg-3 col-sm-12 col-md-3 my-3 text-end">
                            <button class="btn btn-primary f-13" (click)="addNewElection()">Add new
                                election</button>
                        </div>

                        <div class="col-lg-6 col-sm-12 col-md-12"></div>
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 25%;" scope="col">Election name</th>
                                            <th style="width: 25%;" scope="col">Election date </th>
                                            <th style="width: 15%;" scope="col">candidates</th>
                                            <th style="width: 25%;" scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="electionList && electionList.length > 0; else noItemsFound">
                                        <tr *ngFor="let election of electionList">
                                            <td>{{election?.electionName}}</td>
                                            <td>{{election?.electionDate | date: 'dd/MM/yyyy'}}</td>
                                            <td>{{election?.candidates?.length}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary"
                                                    (click)="editElection(election)"> <i class="fa-solid fa-pen me-2"
                                                        width="16px" height="16px" alt="edit icon"></i>Edit</button>
                                                <button type="button" class="btn btn-info ms-4"
                                                    (click)="activateElection(election)" *ngIf="!election.isCurrent"><i
                                                        class="fa-solid fa-thumbs-up me-2" width="16px" height="16px"
                                                        alt="Activate icon"></i>Activate</button>
                                                <button type="button" class="btn btn-success ms-4"
                                                    *ngIf="election.isCurrent"><i class="fa-solid fa-check me-2"
                                                        width="16px" height="16px"
                                                        alt="Activate icon"></i>Current</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <ng-template #noItemsFound>
                                <tbody>
                                    <tr>
                                        <td colspan="5">No elections found</td>
                                    </tr>
                                </tbody>
                            </ng-template>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>