/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Poppins", sans-serif !important;
}
.form-signin {
    max-width: 360px;
    padding: 1rem;
}
.f-13 {
    font-size: 13px;
}
select.form-select {
    font-size: 13px;
}
html {
    min-height: 100%;
    position: relative;
}
html body {
    margin-bottom: 60px;
}
html #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 60px;
}
html #footer .footer-block {
    margin: 20px 0;
}
select.custom-select {
    font-size: 13px;
    height: 38px;
    padding: 0px 11px;
}