<app-navbar></app-navbar>
<div class="container-fluid ">
    <div class="row">
        <div class="col-12 bg-light bg-gradient mb-5">
            <div class="bg-white m-4 rounded">
                <h5 class="pt-4 p-4">Dashboard</h5>

                <div class="row px-4">
                    <div class="col-7">
                        <!-- geo-chart.component.html -->
                        <div #chart ></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>



<app-footer></app-footer>